@model  MyPortfolio.Models.Tbl_Contacts
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BİLGİ EKLE</h2>

<form method="post">

    <label>İmage Url</label>
    <input type="text" name="ImageUrl" class="form-control"/>
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control"/>
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <button class="btn btn-secondary">Kaydet</button>

</form>

