@model MyPortfolio.Models.Tbl_Services
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>HiZMET EKLE</h2>

<form method="post">

    <label>İkon</label>
    <input type="text" name="Icon" class="form-control" />
    <br />
    <label>Hizmet Detayı</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <button class="btn btn-secondary">Kaydet</button>

</form>