@model   MyPortfolio.Models.Tbl_Categories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>KATEGORİ EKLE</h2>

<form method="post">

    <label>Categori Adı</label>
    <input type="text" name="CategoryName" class="form-control" />
   
    <br />
    <button class="btn btn-secondary">Kaydet</button>

</form>
