@model  MyPortfolio.Models.Tbl_Admin
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<h2>Şifre Güncelle</h2>
<form method="post">

    <input type="hidden" name="AdminId" value="@Model.AdminId" />
    <label>Şifre</label>
    <input type="text" value="@Model.Password" name="Password" class=" form-control" />
    
    <br />
    <button class="btn btn-secondary">KAYDET</button>


</form>


