@model List<MyPortfolio.Models.Tbl_SocialMedias>
@{
    Layout = null;
}

<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>@Model.</h2>
                <h3>123 Street, New York, USA</h3>
                <div class="footer-menu">
                    <p>5555555555</p>
                    <p>mustafatest@gmail.com</p>
                </div>
                <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="/Default/Index"> Portfoliom</a>, Tüm Hakları Saklıdır | Mustafa Gedik | @DateTime.Now.Year @*Designed By*@ @*<a href="https://htmlcodex.com">HTML Codex</a>*@</p>
        </div>
    </div>
</div>
