@model  MyPortfolio.Models.Tbl_Messages
<div class="contact wow fadeInUp" data-wow-delay="0.1s" id="contact">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form method="post" action="SendMessage" >
                            <div class="control-group">
                                <input name="Name" type="text" class="form-control"  placeholder="Adınız soyadınız" required="required"  />
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group">
                                <input name="Email" type="email" class="form-control"  placeholder="E mail adresiniz" required="required"  />
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group">
                                <input name="Subject" type="text" class="form-control"  placeholder="Konu" required="required"  />
                                <p class="help-block"></p>
                            </div>
                            <div class="control-group">
                                <textarea name="MessageContent" class="form-control"  placeholder="Mesajınızı Yazınız" required="required" ></textarea>
                                <p class="help-block"></p>
                            </div>
                            <div>
                                <button class="btn" type="submit" >Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>