@model MyPortfolio.Models.Tbl_Teams
@{
    ViewBag.Title = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    TAKIM ARKADAŞI EKLE/h2>
    </h2>

<form method="post">

    <label>İmage Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Description" class="form-control" />
    <br />
    <label>Ad Soyad </label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Facebook </label>
    <input type="text" name="FacebookUrl" class="form-control" />
    <br />
    <label>Linkedin</label>
    <input type="text" name="LinkedinUrl" class="form-control" />
    <br />
    <label>İnstagram</label>
    <input type="text" name="İnstagramUrl" class="form-control" />

    <label>Twitter</label>
    <input type="text" name="TwitterUrl" class="form-control" />

    <br />


    <button class="btn btn-secondary">Kaydet</button>

</form>

