@model MyPortfolio.Models.Tbl_SocialMedias
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>SOSYAL MEDYA EKLE</h2>
<form method="post">

    <label>Sosyal Medya Adı</label>
    <input type="text" name="SocialMediaName" class="form-control" />
    <br />
    <label>Url</label>
    <input type="text" name="Url" class="form-control" />
    <br />
    <label>İkon</label>
    <input type="text" name="Icon" class="form-control" />
    <br />
    <button class="btn btn-secondary">Kaydet</button>

</form>
