@model  List<MyPortfolio.Models.Tbl_SocialMedias>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>SOSYAL MEDYA</h3>
<br />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table table-bordered">

    <tr>
        <th>#</th>
        <th>Sosyal Media Adresi</th>
        <th>Url</th>
        <th>İkon</th>
        <th>AD</th>
        <th>Telefon</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.SocialMediaName</td>
            <td>@item.Url</td>
            <td>@item.Icon</td>
            <td></td>
            
            
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaId" class="btn btn-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-info">Güncelle</a></td>
        </tr>
    }

</table>
<br />
<a href="/SocialMedia/AddSocialMedia" class="btn btn-outline-secondary">Yeni Sosyal Medya Ekle</a>



